---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

body, input, button, textarea, select,
h1, h2, h3, h4, h5, h6,
.post-desc, .label, .tag span, .date.day, #archives a,
.post-meta, .post-content, .sidebar-link, .nav-link,
p, li {
  font-family: "Courier New", "Helvetica", sans-serif !important;
}

code, pre, kbd, samp, .highlight, .rouge-code, .rouge-gutter {
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
